<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <config>
    </config>
    <packageSources>
        <clear />
        <add key="local pkg" value="../../BuildArtifacts/Packages/NuGet/" />
        <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    </packageSources>
</configuration>