name: Build

on:
  push:
    branches:
      - main
      - develop
      - "feature/**"
      - "release/**"
      - "hotfix/**"
    tags:
      - "*"
    paths-ignore:
      - "README.md"
  pull_request:

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ windows-2019, ubuntu-18.04, macos-10.15 ]

    steps:
      - name: Checkout the repository 
        uses: actions/checkout@v2.4.0
      
      - name: Fetch all tags and branches
        run: git fetch --prune --unshallow

      - uses: actions/setup-dotnet@v1.8.2
        with:
          # codecov and unittests need 2.1
          dotnet-version: '2.1.818'
      - uses: actions/setup-dotnet@v1.8.2
        with:
          dotnet-version: '3.1.414'
      - uses: actions/setup-dotnet@v1.8.2
        with:
          # gitversion needs 5.0
          dotnet-version: '5.0.402'
      - uses: actions/setup-dotnet@v1.8.2
        with:
          # need at least .NET 6 rc2 to build
          dotnet-version: '6.0.100-rc.2.21505.57'
          include-prerelease: true

      - name: Cache Tools
        uses: actions/cache@v2.1.6
        with:
          path: tools
          key: ${{ runner.os }}-tools-${{ hashFiles('recipe.cake') }}

      - name: Build project
        uses: cake-build/cake-action@v1.4.0
        with:
          script-path: recipe.cake
          target: CI
          verbosity: Diagnostic
          cake-version: 0.38.5
          cake-bootstrap: true

      # currently, Cake.Recipe does not upload artifacts when run on gh-actions
      - name: Upload Issues
        uses: actions/upload-artifact@v2
        with:
          if-no-files-found: warn
          name: ${{ matrix.os }} Issues
          path: |
            BuildArtifacts/report.html
            BuildArtifacts/**/coverlet/*.xml

      - name: Upload Packages
        uses: actions/upload-artifact@v2
        if: runner.os == 'Windows'
        with:
          if-no-files-found: warn
          name: package
          path: BuildArtifacts/Packages/**/*